body {
  font-size:20px;
}

.rpl-data {
  background:#eee;
  position:relative;
  margin:5px 0;
}

.rpl-data pre {
  padding: 5px;
}

.rpl-error {
  padding: 5px;
  background:#fde9f3;
  color:red;
}

.rpl-data .data-name {
  position:absolute;
  padding:0 10px;
  top:0;
  box-sizing:border-box;
  right:0;
  line-height:23px;
  z-index:9999;
  background:#fff;
  border:1px solid #aaa;
}

.CodeMirror, .CodeMirror-scroll {
  height: auto;
  min-height:20px;
}

.rpl-data .json-viewer {
  max-height:150px;
  overflow:auto !important;
}

.rpl-data .json-viewer.big {
  font-size:200%;
}

.rpl-data .map-viewer {
  height:250px;
}
