#error {
  float:right;
  padding-right:5px;
  color:#eaa;
}

.data {
  background:#eee;
  position:relative;
  padding:5px 5px 5px 5px;
  margin:5px 0;
}

.data-name {
  position:absolute;
  padding:0 10px;
  top:0;
  right:0;
  line-height:25px;
  z-index:9999;
}
